<div class="row">
  <div class="col-md-2">
    <div class="card">
      Filters
      <hr>
      <div>
        <div class="text-header ">Quick Filters</div>
        <div>
          <input type="checkbox" class="checkbox" name="" id="">
          <span class="filter-span">Promotions</span>
        </div>
        <div>
          <input type="checkbox" class="checkbox" name="" id="">
          <span class="filter-span">Pure Veg</span>
        </div>
        <div>
          <input type="checkbox" class="checkbox" name="" id="">
          <span class="filter-span">Online Payment</span>
        </div>
        <hr>
      </div>
      <div>
        <div class="text-header">Sort By</div>
        <span>Price for two</span>
        <div>
          <input type="radio" name="price" value="1" class="checkbox">
          <span class="filter-span">High to low</span>
          <br>
          <input type="radio" name="price" value="0" class="checkbox">
          <span class="filter-span">low to high</span>
        </div>
        <br>
        <span>Ratings</span>
        <div>
          <input type="radio" name="ratings" value="1" class="checkbox">
          <span class="filter-span">High to low</span>
          <br>
          <input type="radio" name="ratings" value="0" class="checkbox">
          <span class="filter-span">low to high</span>
        </div>
        <br>
        <span>Votes</span>
        <div>
          <input type="radio" name="votes" value="1" class="checkbox">
          <span class="filter-span">High to low</span>
          <br>
          <input type="radio" name="votes" value="0" class="checkbox">
          <span class="filter-span">low to high</span>
        </div>
        <hr>
      </div>
      <div>
        <div class="text-header">Cuisines</div>
        <div class="row">
          <div class="col-md-6 col-sm-6 col-lg-6">
            Indian
          </div>
          <div class="col-md-6 col-sm-6 col-lg-6 info" style="text-align: end">
            1343
          </div>
        </div>
        <hr>
      </div>

    </div>
  </div>
  <div class="col-md-10">
    <router-outlet></router-outlet>
  </div>
</div>
